.footer {
  text-align: center;
  padding: 30px 40px;
  max-width: 1460px;
  margin: 0 auto;
}

.footer p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}

@media (max-width: 600px) {
  .footer {
    padding: 20px 25px;
  }

  .footer p {
    font-size: 11px;
  }
}

