* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto Slab", Pretendard, serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ffffff;
  color: #000;
  min-height: 100dvh;
}

code {
  font-family: "Roboto Slab", Pretendard, serif;
  font-weight: 300;
}
